@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap');

:root {
    --cor01: #F8FEF9;
    --cor02: #FF6D21;
    --cor03: #FA9529;
    --cor04: #233545;
    --cor05: #fafafd;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
    color: var(--cor04);
    text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

body, html {
    background: var(--cor05);
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--cor05);
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 20px;
  }