header {
    position: sticky;
    width: 100%;
    z-index: 99;
    background: #fafafd;
    padding: 5px 15px;
}

.navbar {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 50px;
    font-size: 0.95rem;
}

.logo {
    background: linear-gradient(45deg, var(--cor02), var(--cor03));
    border-radius: 50%;
    font-size: 1.2rem;
    color: #fff;
    padding: 10px 16px;
    box-shadow: 4px 4px 8px #c5c5c5bd,
    -4px -4px 8px #ffffff;;
}

.navbar--links, .navbar--login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    cursor: pointer;
    margin-left: 1rem;
    padding: .7rem 1.5rem;
    font-weight: bold;
    color: #494949;
    transition: .5s ease-in-out;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
    letter-spacing: 1px;
  }

.link:hover .link--linha {
    animation: link-anim 0.5s linear forwards;
}
  
.link--linha {
    position: absolute;
    display: block;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    background: var(--cor02);
}

.link.active .link--linha {
    right: 0%;
}

.link.active:hover .link--linha{
    animation: none;
}

.login {
    background: linear-gradient(45deg, #494949, #000000);
    color: #fff;
    margin-left: 1rem;
    padding: 10px 27px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #c5c5c5bd,
    -4px -4px 8px #ffffff;
}

.carrinho {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #c5c5c54b,
    -4px -4px 8px #ffffff;
    position: relative;
    color: var(--cor04);
}

.carrinho:hover {
    transition: all .3s;
    transform: scale(1.05);
}

.notificacao {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -4px;
    line-height: 16px;
    width: 13px;
    height: 13px;
    padding: 0 0;
    border-radius: 50%;
    background: red;
    color: #fff;
    font-size: 0.7rem;
}

.modal-anim {
    opacity: 0;
    animation: modal-anim .8s forwards ease;
}

.modal--btnLogar {
    background: var(--cor04);
    width: 100%;
    color: #fff;
    padding: 7px;
}

.modal--btnLogar:hover {
    transition: background .3s;
    color: #fff;
    background: #15212c;
}

.modal--esqueciSenha {
    text-align: center;
    margin-top: 10px;
}

.modal--esqueciSenha > a {
    text-decoration: none;
}

.modal--esqueciSenha > a:hover {
    text-decoration: underline;
    color: var(--cor04);
}

.modal--checkbox {
    margin-top: 10px;
    font-size: .9rem;
}

.modal--checkbox > input {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    cursor: pointer;
}

.modal--checkbox > label {
    margin-top: 4px;
}

@keyframes modal-anim {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes link-anim {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 0%;
    }
}